NODE_ENV=

# DB
DATABASE_URL="postgresql://postgres:postgres@[ip:port]/postgres"
DIRECT_URL="postgresql://postgres:postgres@[ip:port]/postgres"

# GitHub API
NEXT_PUBLIC_GITHUB_API_BASE="https://mock.apidog.com/[parameter]"
NEXT_PUBLIC_GITHUB_USERNAME="dummyName"

# 管理者設定
ADMIN_USERNAME=
ADMIN_PASSWORD_HASH=

# Next-auth設定
NEXTAUTH_SECRET=
NEXTAUTH_URL=
